header {
    background: no-repeat url("../images/bg1.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.logo {
    margin-left: 86px;
    margin-bottom: 145px;
}

.logo p:nth-child(1) {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    margin: 0;
}

.logo p:nth-child(2) {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.logo div {

    height: 129px;
    display: flex;
    flex-direction: row;

}

.logo div div {
    border: solid 1px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoText {
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 700;
}

.logo div div:nth-child(1) {
    background-color: #ffffff;
    width: 152px;
    height: 129px;
    color: #f1ad1d;
    text-align: center;
}

.logo div div:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.3);
    width: 679px;
    height: 129px;
}

section {

}

section div {
    text-align: center;
    height: 372px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

section div div:nth-child(1) {
    text-transform: uppercase;

}

.oneBlock p:nth-child(1) {
    font-family: Montserrat, sans-serif;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    margin-top: 112px;
    text-transform: uppercase;

}

.oneBlock p:nth-child(2) {
    font-family: Lato, sans-serif;
    color: #4d4943;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin-top: 35px;

}

section div p:last-child:after {
    content: '';
    height: 3px;
    width: 60px;
    background-color: #f1ad1d;
    display: block;
    margin: 53px auto;

}

.background2 {
    background: no-repeat url("../images/bg2.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-transform: uppercase;
}

.background2 p {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-top: 150px;
}

.background2 p span {
    color: #f1ad1d;
}

.background3 {
    background: no-repeat url("../images/bg3.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-transform: uppercase;
    height: 475px;

}

.background3 p {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-top: 174px;
    margin-bottom: -100px;

}

.background3 p span {
    color: #f1ad1d;
}

.background3 p:after {
    content: '';
    height: 3px;
    width: 60px;
    background-color: #f1ad1d;
    display: block;
    margin: 53px auto;

}

.bg-img1 {
    width: 207px;
    height: 28px;
    background: url(../images/css_sprites.png) -202px -10px;
}

.bg-img2 {
    width: 135px;
    height: 49px;
    background: url(../images/css_sprites.png) -202px -58px;
}

.bg-img3 {
    width: 172px;
    height: 42px;
    background: url(../images/css_sprites.png) -10px -10px;
}

.bg-img4 {
    width: 141px;
    height: 52px;
    background: url(../images/css_sprites.png) -10px -72px;
}

.background3 div {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.background3 div div {
    margin-right: 54px;
}

.background4 {
    background: no-repeat url("../images/bg4.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 485px;
}

.background4 p {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding-top: 130px;
    text-transform: uppercase;
    margin: 0;
}

.background4 p span {
    color: #f1ad1d;;
}

.background4 p:nth-child(1):after {
    content: '';
    height: 3px;
    width: 60px;
    background-color: #f1ad1d;
    display: block;
    margin: 53px auto;
}

.background4 p:nth-child(2) {
    font-family: OpenSans, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding: 0;
}

.background4 p:nth-child(2):after {
    content: '';
    background-color: #ffffff;
    width: 281px;
    height: 3px;
    display: block;
    margin: 53px auto;
}

section div:nth-last-child(1) p:nth-child(2):after {
    display: none;
}